rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId=*} {
      allow read: if request.auth != null;
      allow write, update: 
        if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.name != null
        && request.resource.data.name.size() < 128;
    }
    match /sessions/{sessionId = *} {
      allow read: if request.auth != null;
      allow write, update:
        if request.auth != null
        && request.resource.data.ownerId != null
        && request.resource.data.ownerId == request.auth.uid
        && (resource == null || resource.data.ownerId == null || resource.data.ownerId == request.resource.data.ownerId);
    }
    match /session_data/{sessionId = *} {
      allow read: if request.auth != null;
    }
  }
}